@use "../../styles/partials/colors" as*;
@use "../../styles/partials/breakpoints" as*;

.videolist{
    border-top: 1px solid $mercury;
    margin-left: 1rem;
    

    @include tablet{
        margin-left: 2rem;
        margin-right: -.5rem;
    }
    @include desktop{
        border: none;
        border-left: 1px solid $mercury;
        padding-left: 2rem;
        margin-left: 0;
        height: 100%;
        
       
    }

    &__title{
        color: $mercury;
        font-weight: 700;
        text-transform: uppercase;
        font-size: .8125rem;
        line-height: 1.125rem;
        padding: .5rem 0 .5rem 0;

        @include desktop{
            padding-left: 0;
        }
    }


    &__container{
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
        text-decoration: none; 
        

        

        @include tablet{
          padding-right: 20rem;
        
        }
        @include desktop{
            padding-right: 10rem;
            
        }
    }

    &__container:visited{
        color: $black;
    
    }

    &__img{
        width: 8rem;
        height: 5rem;
        border-radius: 4px;
        margin: 0 1rem 1rem -1rem;
        

    }

    &__detail{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        

        @include tablet {
            text-overflow: unset;
            overflow:unset;
            white-space: unset;
            
        }
    
    }

    &__detail--bold{
        font-weight: 700;
        padding-bottom: .3rem;
        margin-top: - 0.2rem;
        margin-bottom: -1rem;
        
     
    }
    

    
}


