@use "../../partials/colors" as*;
@use "../../partials/breakpoints" as*;

.videolist{
    border-top: 1px solid $mercury;
    margin-left: 2rem;

    @include desktop{
        border: none;
        border-left: 1px solid $mercury;
        padding-left: 2rem;
        margin-left: 0;
        height: 100%;
        
       
    }

    &__title{
        color: $mercury;
        font-weight: 700;
        text-transform: uppercase;
        font-size: .8125rem;
        line-height: 1.125rem;
        padding: 1rem 0 1rem 2rem;

        @include desktop{
            padding-left: 0;
        }
    }


    &__container{
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;

        @include tablet{
          padding-right: 20rem;
        
        }
        @include desktop{
            padding-right: 10rem;
        }
    }

    &__img{
        width: 8rem;
        height: 5rem;
        border-radius: 4px;
        margin: 0 1rem 1rem -1rem;
        

    }

    &__detail--bold{
        font-weight: 700;
        padding-bottom: .3rem;
    }
    

    
}
