@use "../../partials/breakpoints" as *;
@use "../../partials/colors" as *;

.hero__video {

    width: 100vw;

    @include tablet {
        
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: $darkBlack;

    }

    @include desktop {
        padding-left: 14rem;
        padding-right: 14rem;
    }

}