@use "../../partials/colors" as *;
@use "../../partials/breakpoints" as *;

.highlight {

    margin-left: 1rem;
    margin-right: 1rem;

    @include desktop {
        padding-left: 6rem;
    }

    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        padding: 1rem 0 1rem 0;

        @include tablet {
            font-size: 2.0625rem;
            line-height: 2.75rem;
            font-weight: 700;
            padding-left: 1rem;
            padding-bottom: .5rem;
        }
    }

    &__wrapper {
        border-top: 1px solid $mercury;
        border-bottom: 1px solid $mercury;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        color: $mercury;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.125rem;

        @include tablet {
            border-top: none;
            margin-left: 1rem;
            font-size: .875rem;
            line-height: 1.375rem;
        }

        
    }

    &__wrappersub{
        @include tablet{
            display: flex;
        }

        @include desktop{
            padding-right: 0rem;
        }
    }

    &__wrap1 {
        display: flex;
        flex-direction: column;


        @include tablet {
            flex-direction: column;
            
        }

        @include desktop{
            flex-direction: row;

        }

        &--bold{
            font-weight: 700;
            font-size: .8125rem;
            line-height: 1.125rem;
            color: $black;
            padding-bottom: .75rem;
            
            @include tablet{
                font-size: .875rem;
                line-height: 1.375rem;
            }

            @include desktop{
                padding-right: 2rem;
            }
        }
    }

    &__wrap2 {
       
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.125rem;
        padding-right: 1rem;
        padding-bottom: .20rem;

        @include tablet{
            font-size: .875rem;
        }

    }

    &__wrap3 {
       
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.125rem;
        padding-right: 1rem;

        @include tablet {
            flex-direction: row;
            font-size: .875rem;
        }

    }


    &__description {
        font-size: .8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        padding-top: 1.5rem;
        padding-right: 1rem;
        color: $black;


        @include tablet {
            font-size: .875rem;
            line-height: 1.375rem;
            padding-left: 1rem;
            padding-right: 2rem;
        }

        @include desktop {
            padding-right: 0rem;
        }

    }

    &__comment {
        font-weight: 700;
        font-size: .8125rem;
        line-height: 1.125rem;
        color: $black;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @include tablet {
            padding-top: 2rem;
            font-size: .875rem;
        }

        @include desktop {
            padding-top: 3rem;
        }


    }
}