@use "./styles/partials/fonts";
@use "./styles/partials/colors";
@use "./styles/partials/breakpoints";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'AvenirNextLTPro', sans-serif;
    margin: 0;
}